* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 10px 5px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid gray;
    border-left: 1px solid grey;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid darkcyan;
    border-right: 1px solid darkgrey;
}

.button {
    border: 0.6px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: purple;
    color: whitesmoke;

    
}

.button:hover {
    background-color: black;
    color: antiquewhite;
    transition: 0.5s ease-in-out;
}
